<div data-role="panel" id="mypanel" data-display="overlay" data-position-fixed="true" data-position="right" data-classes='{"modal":"needsclick ui-panel-dismiss"}'>
	<div class='nd2-sidepanel-profile wow fadeInDown'>
		<img class='profile-background' src="img/ImagenMenu.png" alt="">
		<div class="row">
			<div class='col-xs-4 center-xs'>
				<div class='box'>
					
				</div>
			</div>
			<div class='col-xs-8'>
				<div class='box profile-text'>
					<strong>Oferton!</strong>
					<span class='subline'>SpartanTI Solutions</span>
				</div>
			</div>
		</div>
	</div>
	<ul data-role="listview" data-inset="false" data-icon="false">
		<li>
			<a href="ultimasofertas.html" data-ajax='false'>
				<div class="row">
					<div class="col-xs-6">
						Novedades!
					</div>
					<div class="col-xs-6">
						<i class="zmdi zmdi-star animated infinite wobble zmdi-hc-fw mdc-text-red"></i>
					</div>
				</div>			
			</a>
		</li>
	</ul>
	<div class="lineaseparadora3"></div>
	<ul data-role="listview" id="categoriasList">
		
	</ul>
	<div class="lineaseparadora3"></div>
	<ul data-role="listview" data-inset="false">
		<li>
			<a href="contactanos.html" rel="external">Contactenos!</a>
		</li>
		<li>
			<a href="#">Salir</a>
		</li>
	</ul>
</div>
<!-- /panel left -->