.ui-page {
  background-color: #f9f9f9;
}

.notopbottommarginpadding {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#map {
  display: block;
  margin-bottom: 50px;
  width: 95%;
  height: 400px;
  margin: 0 auto;
  -moz-box-shadow: 0px 5px 20px #ccc;
  -webkit-box-shadow: 0px 5px 20px #ccc;
  box-shadow: 0px 5px 20px #ccc;
}

.swiper-container {
  height: auto;
  width: auto;
  max-height: 400px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;        /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -moz-box-shadow: 0px 5px 20px #ccc;
  -webkit-box-shadow: 0px 5px 20px #ccc;
  box-shadow: 0px 5px 20px #ccc;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.imagenoferta {
  height: 100%;
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.containerFechas h4,
.containerFechas h6,
.containerFechas p {
  display: inline;
  vertical-align: top;
}

.lineaseparadora {
  border-bottom: 2px solid #FF9600;
}
.lineaseparadora2 {
  width: 75%;
  border-bottom: 1px solid #d0d0d0;
}
.lineaseparadora3 {
  border-bottom: 1px solid #d0d0d0;
}

/**************************************************************/

/*quitamos el margin y el paddin del texto que esta de titulo en el detalle de la oferta*/

/*es para que se vea mas pequeño*/
.textodetallesucursal p,
.textodetallesucursal h4 {
  margin: 0px;
  padding: 0px;
}

/*************************************************************/

/*empecamos a sobreescribir los css del jquery y nativedroid2*/
/**estos son los que van en la pantalla de ofertas, es la lista de ofertas*/

.ui-contentLista {
  border-width: 0;
  overflow: visible;
  overflow-x: hidden;
  padding: 0px;
}

.ui-contentLista .listaOFertas {
  margin: 5px 5px 5px 5px;
}

.ui-contentLista .listaOFertas>li {
  display: block;
  position: relative;
  overflow: visible;
  background-color: white;
  padding: 0px;
}

.ui-contentLista .listaOFertas,
.ui-contentLista .listaOFertas>li {
  margin-bottom: 5px;
  padding: 0px;
  list-style: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12) !important;
  border: 0px solid transparent;
}

.ui-contentLista .listaOFertas>li>a {
  padding-left: 115px !important;
}


.ui-contentLista .listaOFertas .ui-li-aside {
  padding: .21em .625em;
  width: auto;
  min-height: 0;
  top: 0;
  left: auto;
  bottom: auto;
  /* Custom styling. */
  background: #990099;
  background: rgba(219,68,55,.85);
  color: white;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  /* Make text wrap. */

.ui-contentLista .listaOFertas h1{
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 1.10em;
}
.ui-contentLista .listaOFertas h2{
  font-size: 0.85em;
}
.ui-contentLista .listaOFertas h2,
.ui-contentLista .listaOFertas p {
  white-space: normal;
  overflow: visible;
  left: 0;
  right: 0;
  }
.imageContainer {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 90px;
}

.imageContainer img {
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  margin: auto;
  position: absolute;
  width: 120%;
  height: 100%;
}

/***************splash screen imagen, full screen*/
.splashScreen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.textoSplashScreen{
  position: fixed;
  left: 35%;
  top:40%;
  color: white
}