.ui-page {
  background-color: #f9f9f9;
}

.notopbottommarginpadding {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#map {
  display: block;
  margin-bottom: 50px;
  width: 95%;
  height: 400px;
  margin: 0 auto;
  -moz-box-shadow: 0px 5px 20px #ccc;
  -webkit-box-shadow: 0px 5px 20px #ccc;
  box-shadow: 0px 5px 20px #ccc;
}

.swiper-container {
  height: auto;
  width: auto;
  max-height: 400px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;        /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -moz-box-shadow: 0px 5px 20px #ccc;
  -webkit-box-shadow: 0px 5px 20px #ccc;
  box-shadow: 0px 5px 20px #ccc;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.imagenoferta {
  height: 100%;
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.containerFechas h4,
.containerFechas p {
  display: inline;
  vertical-align: top;
}

.textoladoswipe {
  min-height: 100%;
  margin-bottom: 15px;
  background-color: white;
  max-height: 400px;
  list-style: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12) !important;
  border: 0px solid transparent;
}

.lineaseparadora {
  border-bottom: 2px solid #FF9600;
}

/**************************************************************/

/*quitamos el margin y el paddin del texto que esta al lado del mapa*/

/*es para que se vea mas pequeño*/
.textodetallesucursal p,
.textodetallesucursal h4 {
  margin: 0px;
  padding: 0px;
}

/*************************************************************/

/*empecamos a sobreescribir los css del jquery y nativedroid2*/

.ui-contentLista {
  border-width: 0;
  overflow: visible;
  overflow-x: hidden;
  padding: 0px;
}

.ui-contentLista .listaOFertas {
  margin: 5px 5px 5px 5px;
}

.ui-contentLista .listaOFertas>li {
  display: block;
  position: relative;
  overflow: visible;
  background-color: white;
  padding: 0px;
}

.ui-contentLista .listaOFertas,
.ui-contentLista .listaOFertas>li {
  margin-bottom: 5px;
  padding: 0px;
  list-style: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12) !important;
  border: 0px solid transparent;
}

.ui-contentLista .listaOFertas>li>a {
  padding-left: 115px !important;
}

.imageContainer {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 90px;
}

.imageContainer img {
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  margin: auto;
  position: absolute;
  max-width: 110px;
  max-height: 110px;
}